body {
   font-family: Nunito;
   text-align: center;
   margin: 0;
}

.app {
   display: flex;
   flex-direction: column;
   padding: 2rem;
   align-items: center;
}

.app .io, .app .buttons {
   display: flex;
   flex-direction: row;
}

.app .io #input {
   border-radius: 7px 0 0 7px;
}

.app .io #output {
   border-radius: 0 7px 7px 0;
}